# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/

# Builds / dist
build/
dist/
wheelhouse/

# Local envs
.venv/
.publish/
env/
venv/

# Local outputs & scratch
out/
customer_test/
pyproject_repair.ps1

# OS/editor
.DS_Store
Thumbs.db
*.swp
